@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #__next {
height: 100%;
}
body {
font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}


/* Design tokens from Figma (example) */
:root {
--brand-black: #000000;
--accent: #ffa111;
}